.App {
  text-align: center;
}
.app_footer {
  color: white;
  font-family: 'Big Shoulders Inline Text', cursive;;
  font-size: 1.2rem;
  display: block;
}
.app_footer p {
  color: #61dafb;
  margin: 0;
}
.app_footer p:first-of-type {
  color: white;
  margin-right: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
.app_container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.app_footer p:last-of-type {
  color: white;
  margin-left: 0.5rem;
}