.about_container {
  width: 80vw;
  height: 90vh;
  display: flex;
  margin: 2rem auto;
  box-shadow: 13px 11px 23px -8px rgba(79,74,79,1);
  background-image: url("../../src/media/Black-Background-Picture.png");
  border: 2px solid rgba(79,74,79,1);
  transition: all 2s;
  opacity: 0.5;
}
.about_container:hover {
  opacity: 1;
}
.about_header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15%;
}
.about {
  display: flex;
}
.about p {
  font-size: 2rem;
  color: white;
  text-align: left;
  font-family: 'Big Shoulders Inline Text', cursive;
  margin: 1rem;
}

.about img {
  height: 25rem;

}
.about img:hover {
  transform: scale(1.8);
  text-align: center;
  transition: 1s;
}
.about a {
  margin-top: 1rem;
  color: #61dafb;
  background-image: url("../../src/media/Black-Background-Picture.png");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  font-family: 'Big Shoulders Inline Text', cursive;;
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid darkgrey;
}
.el-3-about {
  display: flex;
}
.el-3-about div {
  display: flex;
  flex-direction: column;
}
.about div {
  display: flex;
  flex-direction: column;
}
.about div:first-child {
  overflow: auto;
  height: 500px;
}
.about div p:nth-child(2) {
  color: #61dafb;
}
.logo-1 {
  position: relative;
}
.logo-1:before {
  content: "ABOUT";
  position: absolute;
  animation: ok 0.5s 0.5s alternate;
  z-index: 1;
}
.fab {
  color: #61dafb;
  font-size: 3rem;
  margin: 15px;
  text-align: center;
}
.about div div {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.icon_container {
  justify-content: center;
}

@keyframes ok {
 50% {
   transform: scale(1.1);
   opacity: 0.5;
 }
  100% {
    transform: scale(1.2);
    opacity: 0;
    color: white;
  }
}
@media (max-width: 800px) {
  .el-3-about {
    flex-direction: column;
    overflow: auto;
  }
  .about p {
    font-size: 16px;
    margin: 5px;
  }
  .about img {
    height: 10rem;
    width: 7rem;
    margin: 3px auto;
  }
  .about div:first-child {
    height: unset;
  }
}