.about_container {
  width: 80vw;
  height: 90vh;
  display: flex;
  margin: 2rem auto;
  box-shadow: 13px 11px 23px -8px rgba(79,74,79,1);
  background-image: url("../../src/media/Black-Background-Picture.png");
  border: 2px solid rgba(79,74,79,1);
  transition: all 2s;
  opacity: 0.5;
}
.about_container:hover {
  opacity: 1;
}
.about_header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15%;
}