.butons2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.butons2 button {
  width: 10rem;
  padding: 1rem;
  margin: 1rem;
  color: #61dafb;
  background-image: url("../../src/media/Black-Background-Picture.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 2rem;
  transition: all 1s;
}

.butons2 button:hover {
  cursor: pointer;
  opacity: .6;
  color: white;
  border-radius: 10px;
  transition: all 1s;
  transform: scale(1.2);
  box-shadow: 13px 10px 15px -16px rgba(242,242,242,1);
}