html {
  background-color: black;
}

.main_container {
  width: 80vw;
  height: 90vh;
  display: flex;
  margin: 2rem auto;
  box-shadow: 13px 11px 23px -8px rgba(79,74,79,1);
}
.it_container {
  background-image: url("../../src/media/Black-Background-Picture.png");
  background-size: cover;
  background-position: left;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid rgba(79,74,79,1);
  transition: all 1s;
  opacity: 0.5;
}
.it_container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.it_container:hover {
  width: 90%;
  z-index: 1;
  transition: all 1s;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.it_container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foto_it {
  width: 16em;
  height: 16em;
  border-radius: 50%;
  border: 2px solid rgb(182, 182, 182);
  background-image: url("../../src/media/jaIT.jpg");
  background-size: cover;
  background-position: center;
  margin: 1rem;

}
.kite_container {

  align-items: flex-start;
  justify-content: flex-end;

  background-image: url("../../src/media/kiteBG.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid rgba(79,74,79,1);
  box-shadow: 13px 11px 23px -30px rgba(133,146,230,1);
  transition: all 1s;
  opacity: 0.5;
}
.kite_container:hover {
  width: 90%;
  z-index: 1;
  transition: all 1s;
  font-size: 10px;
  opacity: 1;
}
.foto_kite {
  width: 16em;
  height: 16em;
  border-radius: 50%;
  border: 2px solid rgb(111, 134, 152);
  background-image: url("../../src/media/jaKite.jpg");
  background-size: cover;
  background-position: center;
  margin: 1rem;
}
.title h1 {
  font-size: 4em;
  color: #61dafb;
  border-radius: 10px;
  margin: 0;
  position: relative;
  z-index: 1;
  font-family: 'Big Shoulders Inline Text', cursive;;
}
.title h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //opacity: .4;
  z-index: -1;
  background-color: darkgrey;
  border-radius: 10px;
}
.title h2 {
  margin: 0;
  color: white;
  font-size: 1.5em;

}
.kite_container-title h1 {
  color: #282c34;
  font-family: 'Big Shoulders Inline Text', cursive;;
}
.video {
  width: 100%;
  height: 100%;

}
.kite_container-title {
  position: fixed;
  top: 40px;
  right: 200px;
}
.video_container {
  height: 100%;
  width: 100%;
  background-image: url("../../src/media/bgvideo.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 800px) {
  .main_container {
    width: 100vw;
    height: 96vh;
    margin: 0;
  }
  .it_container  {
    width: 100%;
    height: 100%;
  }
  .foto_it {
    width: 5em;
    height: 5em;

  }
  .foto_kite {
    width: 5em;
    height: 5em;
    margin: 1rem auto;
  }
  .kite_container-title {
    position: fixed;
    top: 0;
    right: 50px;
  }
  .it_container-title {
    position: fixed;
    top: 0;
    left: 10px;
  }
  .title h1 {
    font-size: 2rem;
  }
  .title h2 {
    font-size: 1rem;
  }
  .it_container div {
    justify-content: flex-end;
  }
}