html {
  background-color: black;
}
.main_container {
  width: 80vw;
  height: 90vh;
  display: flex;
  margin: 2rem auto;
  box-shadow: 13px 11px 23px -8px rgba(79,74,79,1);
}
.it_container {
  width: 50%;
  height: 100%;
  background-image: url("../../src/media/ItBG.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  border: 2px solid rgba(79,74,79,1);
  transition: 2s ease-in-out;
}
.it_container:hover {
  width: 90%;
  z-index: 1;
  transition: 2s ease-in-out;
  font-size: 10px;
}
.foto_it {
  width: 16em;
  height: 16em;
  border-radius: 50%;
  border: 2px solid rgb(182, 182, 182);
  background-image: url("../../src/media/jaIT.jpg");
  background-size: cover;
  background-position: center;
  margin: 1rem;
}
.kite_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  background-image: url("../../src/media/kiteBG.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid rgba(79,74,79,1);
  box-shadow: 13px 11px 23px -20px rgba(133,146,230,1);
  transition: 2s ease-in-out;
}
.kite_container:hover {
  width: 90%;
  z-index: 1;
  transition: 2s ease-in-out;
  font-size: 10px;
}
.foto_kite {
  width: 16em;
  height: 16em;
  border-radius: 50%;
  border: 2px solid rgb(111, 134, 152);
  background-image: url("../../src/media/jaKite.jpg");
  background-size: cover;
  background-position: center;
  margin: 1rem;
}
